<!DOCTYPE html>
<html lang="pt-br">
<!--head-->
<%- include('../parties/head'); %>

    <body class="container">
        <!--header-->
        <%- include('../parties/header', {pagina: 'Contato'}); %>

            <!--main-->
            <main>
                <div id="main-div" class="container-fluid bg-secondary text-light">
                    <h1>Contato</h1>
                    <p>Olá essa é a página de contato, seja bem vind@!</p>
                </div>
            </main>
            <!--footer-->
            <%- include('../parties/footer'); %>
    </body>

</html>